@import "../../styles/_colors.scss";

.eventContainer {
  display: flex;
  flex-direction: column;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: $secondary-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cardContent {
  display: flex;
  flex-direction: column; /* Change to column layout for mobile */
}

.eventInfo {
  margin-bottom: 10px; /* Add some spacing between event info and delete button */
}

.deleteButton {
  align-self: flex-end; /* Align delete button to the end (right) of the card */
  margin-top: 10px; /* Add some spacing between delete button and event info */
}
.eventButton {
  align-self: flex-end; /* Align delete button to the end (right) of the card */
  margin: 10px 0; /* Add some spacing between delete button and event info */
}

@media (min-width: 768px) {
  /* For tablets */
  .eventContainer {
    margin: 0 60px 10px 60px;
  }
}

@media (min-width: 992px) {
  /* For desktops */
  .eventContainer {
    margin: 0 200px 10px 200px;
  }
}
